.canciones-fav{
border: 5px solid rgb(173, 85, 255); 
border-top: 2px dashed black;
border-radius: 15px;
width: 320px;
height: 270px;
background-color: lightpink;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 18px;
}
.h2{
 text-align: center;   
 font-family:cursive;
 color: rgb(78, 6, 45);
}
 .caja{
    margin-right: 150px;
    margin-left: 80px;
    margin-bottom: 100px;
     margin-top: 100px;
     border: 5px;
     border-radius: 10px;
     background-color: violet;
     font-family: unset;
     font-size: 18px;
     background-image: url(https://st2.depositphotos.com/2101611/6411/i/600/depositphotos_64117061-stock-photo-pink-colored-wood-plank-texture.jpg);
     width: 1000px;
     height: 500px;
     padding-top: 50px;
     padding-left: 100px;
     padding-bottom: 50px;
     padding-right: 80px;

 }